html,
body,
#root {
  height: 100%;
}

body {
  /* background-color: hsl(180deg, 25%, 92%);
  background-color: hsl(195deg, 20%, 86%); */
  --second-half: hsl(195deg, 20%, 86%);
  --first-half: hsl(180deg, 25%, 92%);
  background: linear-gradient(var(--first-half) 50%, var(--second-half) 50%);
  /* Does not repeat the gradient, it limits to two times */
  background-repeat: no-repeat;
  /* Since it repeats two times, a gaps forms underneath the gradient,
     This rules gets rid of that gap. */
  background-attachment: fixed;
  margin: 0;
}

*,
*:before,
*:after {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/*
  A utility class to totally remove something from the screen,
  while still keeping it available for screen-readers.
*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
